{% load i18n %}
<div class="rating">
    <form action="" onsubmit="return false;">

        {% if show_textarea == 1 %}
        <div class="text_wrapper">
            <label class="prompt" for="rating_text">{{text_prompt}}</label>
            <textarea id="rating_text" class="textarea" rows="4" cols="100">{{user_freeform}}</textarea>
        </div>
        {% endif %}

        <fieldset class="field">
            <legend class="prompt">{{rating_prompt}}</legend>
            <div class="scale">
                {% for (level, icon, i, active) in scale_items %}
                <label title="{{level}}">
                    <input id="radio_{{i}}" name="rating_scale" class="rating_radio" type="radio" {{active}}>
                    <span aria-hidden="true">{{icon}}</span>
                    <span class="rating_help">{{level}}</span>
                </label>
                {% endfor %}
            </div>

        </fieldset>
        <div class="thankyou" aria-live=polite><p style="display:none;" id="your-choice" read-value="{{rating}}">
            {% trans "Your rating: " %}{{rating}}</p>
            <p>{{response}}</p></div>
        <div class="error" aria-live=polite></div>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
    </form>
</div>
