<div class="rating">
    <form action="" onsubmit="return false;">

        {% if show_textarea == 1 %}
        <div class="text_wrapper">
            <label class="prompt" for="rating_text">{{ text_prompt }}</label>
            <textarea id="rating_text" class="textarea" rows="4" cols="100">{{ user_freeform }}</textarea>
        </div>
        {% endif %}

        <fieldset class="field">
            {% if not rated %}
                <legend class="prompt" id="please_rate">{{ rating_prompt }}</legend>
            {% endif %}
            <div class="scale">
                {# level,icon,i,active #}
                {% for scale_item in scale_items %}
                <label title="{{ scale_item.0 }}">
                    <input id="radio_{{ scale_item.2 }}" name="rating_scale" class="rating_radio"
                           type="radio" {{ scale_item.3 }}>
                    <span aria-hidden="true">{{ scale_item.1 }}</span>
                    <span class="rating_help">{{ scale_item.0 }}</span>
                </label>
                {% endfor %}
            </div>

        </fieldset>
        <div class="error" aria-live=polite></div>
        <button type="submit" class="submit">
            {% if language == 'fr' %}
            Soumettre
            {% else %}
            Submit
            {% endif %}
        </button>
    </form>
</div>