/* CSS for RatingXBlock */

.rating {
    text-align: center;
    border-width: 1px;
    border-color: rgba(0,0,0,0.1);
    padding: 10px
}

.rating .thankyou {
    color: green;
}

.rating .error {
    color: darkred;
    display: none;
}

.rating .prompt {
    font-weight: bold;
    font-size: large;
    background: transparent;
}

.rating .scale {
    cursor: pointer;
    border-radius:5px;
    margin: 10px 0;
}

.rating .text_wrapper {
    margin-bottom: 1em;
}

.rating .textarea {
    height:inherit;
    width: 100%;
}

.rating .rating_active {
    color: blue;
    font-weight: bold;
    background-color: blanchedalmond;
}

.rating .rating_radio {
    opacity:0;
    width:1px;
    padding:0;
    margin:0;
}

.rating .rating_help{
    opacity:0;
    width:1px;
    height:1px;
    padding:0;
    margin:0;
    position:absolute;
    clip:rect(1px,1px,1px,1px);
    left:-10000px;
    overflow:hidden;
}

.rating label{
    display:inline;
}

.rating .field {
    border-style:none;
}

.rating input[type="radio"]:checked + span{
   background-color:yellow;
}

.rating input[type="radio"]:focus + span{
    border-style: solid;
    border-width: 2px;
    border-color: #999999;
    border-radius: 12px;
}
.rating input + span {
    display: inline-block;
}

.rating .submit {
    max-width:100%;
}
